@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('') format('opentype');
    font-weight: normal;
}
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

/* CABEÇARIO */

header {
    padding: 20px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    text-shadow: 1px 1px 4px black;
    text-align: center;

}

header > h1 {
    padding: 10px;
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
}

header > p {
    color: white;
    font-size: 14px;
}

/* MENU */

nav {
    padding: 6px;
    background-color: var(--cor5);
    font-size: 12px;
    font-weight: bold;
}

nav a {
    padding: 8px;
    color: var(--cor1);
    text-decoration: none;
}

a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 3px;
}

/* CONTEÚDO */

main {
    margin: auto;
    min-width: 280px;
    max-width: 800px;
    background-color: white;
    box-shadow: inset 0px 0px 4px black;
}

main h2 {
    padding: 15px;
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h3 {
    margin: 10px 20px;
    padding: 0px 5px;
    background-image: linear-gradient(to right, var(--cor1), white);
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
}

main p {
    padding: 0px 15px;
    text-indent: 25px;
    line-height: 30px;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    font-weight: bold;
    padding: 3px;
}

strong {
    color: var(--cor4);
}

img {
    margin: auto;
    display: block;
}

iframe {
    background-color: var(--cor5);
    margin: auto;
    display: block;
    padding: 15px 6%;
    width: 88%;
}

/* LISTA */

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 15px;
}

aside h4 {
    background-color: var(--cor5);
    color: white;
    padding: 7px;
    border-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside p {
    padding: 10px;
}

ul {
    list-style: none;
    display: inline-block;
}

.lista {
    padding: 0px 140px 10px 10px;
}

ul li:before {
    content: '\2714\0020';
}

/* RODAPÉ */

footer {
    text-align: center;
    background-color: var(--cor5);
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p {
    font-weight: lighter;
}